body{
    background-image: url("images/back.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
font-family: Montserrat;
color: rgb(252, 237, 237);
font-weight: bold;
text-shadow: 1px 1px 2px rgb(139, 139, 139);
}
h1{
    font-size: 40px;
    color: white;
    padding-left: 10px;
}
form {
    display: block;
    margin-top: 0em;
}
input{
    margin-right: 10px;
}
img{
  display: inline-block;
  margin: 0 ;
  max-width: 50%;
}
ul{
position: relative;
top: 30px;
}
li{
padding-bottom: 30px;
font-size: 25px;
} 
time{
    font-size: larger;
    padding: 5px;
    border: 1px solid rgb(252, 237, 237);
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(114, 112, 112, 0.37);
}
.degree{
    font-size: 50px;
    font-weight:lighter;
    position: relative;
    right: -33px;
}
.day-description{
    position: relative;
    right: -33px;
}
.degree-sign{
    font-size: 15px;
    font-weight:lighter;
    position: relative;
    top: -26px;
    text-decoration: none;
}
.card-text{
text-align: left;
font-family:sans-serif;
}
.card-body{
    padding: 10px;
   
}
.temp{
display: inline;
list-style: none;
font-size: 20px;
}
.searchBar{
    margin-right: 0;
    padding: 0;
}
.card{
    background-color: rgba(246, 214, 239, 0.5);
    box-shadow: 2px 2px 8px rgba(114, 112, 112, 0.37);
}
.weather-forecast{
    display: inline-block;
    margin:0;
    max-width:45%;
}
.active {
    color: #142d4c;
    cursor: default;
    font-weight: bold;
text-decoration: none;
  }
  
  .active:hover {
    color: black;
  }
  .forecast-days{
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(184, 185, 187, 0.425);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 8px rgba(114, 112, 112, 0.37);
  }
  .forecast-title{
      text-align: center;
  }